/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Asterisk */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* General */
body {
    font-family:"Open Sans", sans-serif;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    color: black;
}
/* Header */
header {
    background-color: whitesmoke;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
}
h1 {
    font-family:"Merriweather", serif;;
    text-transform: uppercase;
}
#menu {
    list-style-type: none;
    letter-spacing: 4px;
    
}
#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid blue;
}
/*Navbar styles with dropdown */
nav {
    background-color: aliceblue;
    width: 100%;
    position:absolute;
    display: none;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 2px black;
}
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
display: none;
}
.nav-toggle {
    font-size: 2rem;
}
/* Main-Content */
main {
    background-color: aqua;
    flex: auto;
}

/* Footer */
footer {
    background-color: beige;
    margin-top: auto;
}