/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Asterisk */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* General */
body {
    font-family:"Open Sans", sans-serif;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    color: black;
}
/* Header */
header {
    background-color: palevioletred;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px black;
}
h1 {
    font-family:"Merriweather", serif;;
    text-transform: uppercase;
}
.active {
    border-bottom: 2px solid blue;
}


/* Main-Content */
main {
    background-color: aqua;
    flex: auto;
}

/* Footer */
footer {
    background-color: beige;
    margin-top: auto;
}